@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Embeded google fonts */
.poppins-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

/* shared styles */
.display-flex
{
    display: flex;
}

/* root variable */
:root
{
    --primary-color: #3A3A3A;
    --btn-color: #E02C6D;
    --rate-color: #FB8200;
    --font-poppins: "poppins";
    --font-inter: "inter";
    --font-manrope: "manrope";
}

.btn-primary
{
   font-size: 1rem;
   font-weight: bold;
   font-family: var(--font-poppins);
   padding: 10px 24px;
   border-radius: 41px;
   background-color: var(--btn-color);
   border: none;
   color: #ffffff;
}

/* navbar section */
.navbar
{
    /* display: flex; */
    justify-content: space-between;
    margin: 80px 120px 50px 120px;
    
}

.nav-item li
{
   list-style: none;
   text-align: center;
}

.nav-item
{
    gap:34px;
    font-size: 1rem;
    font-family: var(--font-poppins);
    font-weight: 600;
    color: var(--primary-color);
    
}

.brand-name
{
    font-size: 1.5rem;
    font-family: var(--font-poppins);
    font-weight: bold;
    color: var(--primary-color);
}

/* banner section */
.banner-tittle
{
   font-size: 3.25rem;
   font-weight: bold;
   font-family: var(--font-poppins);
   line-height: 4.37rem;
   color: var(--primary-color);
   margin-bottom: 1rem;
   margin-top: 145px;
}

.banner-des
{
   font-size: 1rem;
   font-weight: 600;
   font-family: var(--font-poppins);
   line-height: auto;
   color: var(--primary-color);
   margin-bottom: 1.4rem;
}

.banner-content
{
    width: 580px;
    height: auto;
}
.banner
{
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 132px;
    
}

.banner-img
{
    width: 475px;
    height: 475px;
    background-image: url(../images/Circle\ design.svg);
    margin-top: 50px;
}


/* sponspos companies */
.sponspors
{
    width: 1110px;
    height: auto;
    margin-top: 70px;
    justify-content: space-between;
    margin-left: 17%;
}


/* products items */
.footer
{
    width: 100%;
    background-color: #0a0826;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.footer-icons
{
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    margin-top: 17px;
}

.footer-tittle
{
   font-size: 1.5rem;
   font-weight: bold;
   font-family: var(--font-poppins);
   line-height: auto;
   color: #ffffff;
   margin-bottom: 3px;
}
.footer-des
{
   font-size: 0.87rem;
   font-weight: bold;
   font-family: var(--font-manrope);
   line-height: 1.4rem;
   color: #D9DBE1;
   margin-bottom: 3px;
}

.icons
{
    width: 2.2rem;
    height: 2.2rem;
    
}


/* features product */
.features-products-content
{
    width: 610px;
    height: auto;
    position: relative;
    bottom: 30px;
}

.features-products 
{
    justify-content: space-between;
    margin: 100px 165px 100px 165px;
}

.features-products-tittle
{
    font-size: 2.37rem;
    font-weight: bold;
    line-height: 60px;
    color: var(--primary-color);
    font-family: var(--font-poppins);
}

.features-products-des
{ 
    font-size: 1rem;
    font-weight: bold;
    line-height: 28px;
    color: #6C6C6C;
    font-family: var(--font-poppins);
}

.features-btn
{
   font-size: 1rem;
   font-weight: bold;
   font-family: var(--font-poppins);
   padding: 10px 24px;
   background-color: var(--btn-color);
   border: none;
   color: #ffffff;
}


/* products section */
   .products
   {
      width: 1047px;
      height: auto;
      margin: 100px auto;
   }
   .products-tittle {
      font-size: 1.75rem;
      margin-bottom: 30px;
      font-weight: 600;
      text-align: center;
      font-family: var(--font-poppins);
      color: #3A3A3A;
    }

    .products-items 
    {
     
      width: 330px;
      height: 475px;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
      padding: 16px;
    }

    .product-item-tittle {
      font-size: 1.75rem;
      font-weight: 500;
      color: #18191F;
      font-family: var(--font-poppins);
      margin-bottom: 8px;
      margin-top: 12px;
    }

    .products-price {
      font-size: 1.25rem;
      font-weight: 400;
      color: #000000;
      font-family: var(--font-inter);
      margin-bottom: 10px;
    }

    .product-rating {
      font-size: 0.8rem;
      margin: 10px 0;
      color: #f59e0b; /* star color (optional) */
    }

    .products-des {
      font-size: 0.85rem;
      font-weight: bold;
      color: #787885;
      font-family: var(--font-inter);
      margin-bottom: 12px;
      line-height: 21px;
    }

    .products-content
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
    }

    .product-btn
    {
        position: relative;
        left: 955px;
        text-decoration: none;
        color: #E02C6D;
        font-size: 1rem;
        font-weight: 900;
        font-weight: var(--font-poppins);
        
    }


    /* responsive */
    @media screen and (max-width: 576px) {
        body
        {
            max-width: 577px;
        }
        .banner
        {
            flex-direction: column-reverse;
            justify-content: space-around;
            gap:50px;
        }

        ul li
        {
            display: none;
        }

        .navbar
        {
            justify-items: center;
            margin-left: 50vw;
        }

        .banner-content
        {
            text-align: center;
        }

        .sponspors
        {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 30px;
            width: 100vw;
        }

        .features-products
        {
            flex-direction: column-reverse;
            text-align: center;
        }

        .features-products-img
        {
            width: 100vw;
        }

        .products-content
        {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            justify-items: center;
        }
    }